body {
	background-color: #d2f5d5;
	background-image:url("plant.jpg"); /* light green */
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	background-size: cover;
}

.h1 {
	font-weight: bold; /* Makes the text bold */
	text-align: center; /* Centers the element */
  }

header {
	background-color: rgb(255, 255, 255);
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.logo h4 {
	margin: 0;
	padding: 0;
	color: #057a74;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.nav-links {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	position: absolute;
	right: 0;
}

.nav-links li {
	height: 100%;
}

.nav-links a {
	/* display: flex; */
	align-items: center;
	height: 100%;
	padding: 0 1rem;
	color: #0b0c0c;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-links a:first-child {
	margin-right: auto;
}


.main {
	display: flex;
	flex-wrap: wrap;
	padding-top: 70px;
}

.sensor-values-container {
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap;
	width: 60%; */
	margin-left: auto;
	margin-right: auto;
}

.value-container {
	flex-basis: 44.33%;
	height: 100px;
	width: 1rem;
	margin: 5rem;
	padding: 1rem;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.value-container h2 {
	margin-top:0% }


.readings-container {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* .reading {
	flex-basis: 0;
	flex-grow: 1;
	margin-right: 1rem;
	padding: 1rem;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.reading h3 {
	margin: 0;
	padding: 0;

} */


.signin-container,
.create-account-container {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 20px;
}

.signin-container h2,
.create-account-container h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.signin-container label,
.create-account-container label {
	display: block;
	margin-bottom: 10px;
}

.signin-container input,
.create-account-container input {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 100%;
}

.signin-container button,
.create-account-container button {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.new-account,
.existing-account {
	margin-top: 20px;
	font-size: 14px;
	text-align: center;
}

.new-account a,
.existing-account a {
	font-weight: bold;
}

.create-account-container {
	display: none;
}


.calendar-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.calendar {
	flex-basis: 0;
	flex-grow: 2;
	height: 500px;
	margin: 1rem;
	padding: 1rem;
	
	box-shadow: 0 0 10px rgba(0, 0, 0,);

}

footer {
	background-color: #24b1ab;
	color: rgb(15, 14, 14);
	text-align: center;
	padding: 10px;
	position:fixed;
	width: 100%;
	bottom:0%;
}